<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<title>SEO Tools</title>
  	<!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ app.request.basepath }}/assets/js/html5shiv.js"></script>
      <script src="{{ app.request.basepath }}/assets/js/respond.min.js"></script>
    <![endif]-->
    {% block custom_head %}{% endblock %}
  </head>
  <body>
	<div class="container">
    {% block navigation %}
		<div class="header" style="min-height: 60px;">
			<ul class="nav nav-pills pull-right">
				<li {% if app.request.get('_route') == 'new_query' %}class="active"{% endif %}><a href="{{ path('new_query', {application_id: application_id}) }}">Create</a></li>
				<li {% if app.request.get('_route') == 'queries' %}class="active"{% endif %}><a href="{{ path('queries', {application_id: application_id}) }}">List</a></li>
        {% if app.request.session.get('current_user') is defined %}
        <li><a href="{{ path('user') }}">Account</a></li>
        <li><a href="{{ path('logout') }}">Logout</a></li>
        {% else %}
        <li {% if app.request.get('_route') == 'login' %}class="active"{% endif %}><a href="{{ path('login') }}">Login</a></li>
        {% endif %}
			</ul>
		</div>
    {% endblock navigation %}
		{% block content %}{% endblock %}
	</div>
  </body>
</html>