{% extends "base.twig" %}
{% block custom_head %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ app.request.basepath }}/js/highcharts.js"></script>
    <script type="text/javascript">
$(function () {
        $('#container').highcharts({
            title: {
                text: 'Search Engine Results Position for: "{{ query }}"',
            },
            subtitle: {
                text: 'Google.es',
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                  day: '%Y/%m/%d'
              }
            },
            yAxis: {
                title: {
                    text: 'Position'
                },
                min: 1,
                reversed: true
            },
            tooltip: {
                valuePrefix: '#',
                crosshairs: true
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [
                {%- for domain, domain_rankings in domains -%}
                  {
                    name: '{{ domain }}',
                    data : [{%- for ranking_data in domain_rankings -%}
                    {%- if loop.last -%}
                    [{{ranking_data.date.timestamp}} * 1000,{{ranking_data.position}}]
                    {%- else -%}
                    [{{ranking_data.date.timestamp}} * 1000,{{ranking_data.position}}],
                    {%- endif -%}
                    {%- endfor -%}]
                  },
                {%- endfor -%}
            ]
        });
    });
    </script>
{% endblock %}
{% block content %}
    <div id="container" style="margin: auto; width: 650px; height: 450px;"></div>
{% endblock %}