{% extends "base.twig" %}
{% block content %}
	<table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 5%">#</th>
            <th style="width: 25%">Query</th>
            <th style="width: 30%">Domains</th>
            <th style="width: 30%">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for query in queries %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ query.query }}</td>
            <td>
				<p class="list-group-item-text"><a href="http://{{ query.domain }}" target="_blank">{{ query.domain }}</a></p>
            </td>
            <td>
            	<a class="btn btn-primary" href="{{ path('chart', {application_id: application_id}) ~ '?q=' ~ query.query }}">Chart</a>
				<a class="btn btn-warning" href="{{ path('edit_query', {query: query.query, application_id: application_id}) }}">Edit</a>
				<a class="btn btn-danger" href="{{ path('delete_query', {query: query.query, application_id: application_id}) }}">Delete</a>
			</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!--<table class="table table-hover table-bordered table-striped" style="text-align: center">
        <thead>
          <tr>
            <th>Queries</th>
            <th>Comprarsmartwatch.es</th>
            <th>smartwatchmania.com</th>
            <th>comprarsmartwatch.com</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>analisis pebble</td>
                <td>4</td>
                <td>7</td>
                <td>-</td>
            </tr>
            <tr>
                <td>comprar pebble</td>
                <td>13</td>
                <td>25</td>
                <td>23</td>
            </tr>
        </tbody>
      </table>-->
{% endblock %}